# Import of libraries

In [118]:
#libraries
import pandas as pd
import seaborn as sns
import matplotlib as plt
import numpy as np
from sklearn.preprocessing import LabelEncoder

# Dataset "transactions_train.csv"


I decided to import this dataset only for the analysis of a value in another dataset and not for working on missing data since there are not

## Import of dataset

In [119]:
#import of the csv file
transactions = pd.read_csv('Data/transactions_train.csv')
transactions = pd.DataFrame(transactions)

In [120]:
transactions

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2
...,...,...,...,...,...
31788319,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,929511001,0.059305,2
31788320,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,891322004,0.042356,2
31788321,2020-09-22,fff380805474b287b05cb2a7507b9a013482f7dd0bce0e...,918325001,0.043203,1
31788322,2020-09-22,fff4d3a8b1f3b60af93e78c30a7cb4cf75edaf2590d3e5...,833459002,0.006763,1
31788323,2020-09-22,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,898573003,0.033881,2

# Dataset "articles.csv"

## Import of the dataset

In [121]:
#import of the csv file
articles = pd.read_csv('Data/articles.csv')
articles = pd.DataFrame(articles)

In [122]:
articles

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
4,110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105537,953450001,953450,5pk regular Placement1,302,Socks,Socks & Tights,1010014,Placement print,9,Black,...,Socks Bin,F,Menswear,3,Menswear,26,Men Underwear,1021,Socks and Tights,Socks in a fine-knit cotton blend with a small...
105538,953763001,953763,SPORT Malaga tank,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey,A,Ladieswear,1,Ladieswear,2,H&M+,1005,Jersey Fancy,Loose-fitting sports vest top in ribbed fast-d...
105539,956217002,956217,Cartwheel dress,265,Dress,Garment Full body,1010016,Solid,9,Black,...,Jersey,A,Ladieswear,1,Ladieswear,18,Womens Trend,1005,Jersey Fancy,"Short, A-line dress in jersey with a round nec..."
105540,957375001,957375,CLAIRE HAIR CLAW,72,Hair clip,Accessories,1010016,Solid,9,Black,...,Small Accessories,D,Divided,2,Divided,52,Divided Accessories,1019,Accessories,Large plastic hair claw.
105541,959461001,959461,Lounge dress,265,Dress,Garment Full body,1010016,Solid,11,Off White,...,Jersey,A,Ladieswear,1,Ladieswear,18,Womens Trend,1005,Jersey Fancy,Calf-length dress in ribbed jersey made from a...

## Feature engeneering: preliminary data analysis

In [123]:
#check about the correctness of the information found in the past analysis (column and numbers of missing values)
articles.isna().sum()

article_id                        0
product_code                      0
prod_name                         0
product_type_no                   0
product_type_name                 0
product_group_name                0
graphical_appearance_no           0
graphical_appearance_name         0
colour_group_code                 0
colour_group_name                 0
perceived_colour_value_id         0
perceived_colour_value_name       0
perceived_colour_master_id        0
perceived_colour_master_name      0
department_no                     0
department_name                   0
index_code                        0
index_name                        0
index_group_no                    0
index_group_name                  0
section_no                        0
section_name                      0
garment_group_no                  0
garment_group_name                0
detail_desc                     416
dtype: int64

In [124]:
#type of the column with missing values
articles_data_types = articles.dtypes
data_type_detail_desc = articles_data_types['detail_desc']
data_type_detail_desc

dtype('O')

From this analysis we can undestand that the missing values in the column "detail_desc" have the type that is an object and we have 416 missing values.
Since is not a numerical feature but a categorical one (is an object that contains strings), it is not possible to substitute the missing values with the replacement based on the other values but is necessary to use another technique.

## Analysis on the missing values

In [125]:
from collections import Counter
#ids of the products with missing values
null_description_id = articles[articles['detail_desc'].isnull()]['article_id']

#type of the products with missing values
null_type_product = articles[articles['detail_desc'].isnull()]['product_type_name']

#count of products by name
element_count_name_product = Counter(null_type_product)

#count of product with id
element_count_id = Counter(null_description_id)

In [126]:
element_count_name_product

Counter({'Sweater': 31,
         'Boots': 3,
         'Underwear bottom': 29,
         'Ballerinas': 31,
         'T-shirt': 55,
         'Sandals': 12,
         'Dress': 44,
         'Top': 11,
         'Hoodie': 7,
         'Trousers': 29,
         'Sneakers': 31,
         'Bra': 11,
         'Vest top': 4,
         'Jacket': 6,
         'Swimsuit': 11,
         'Sunglasses': 3,
         'Hat/brim': 1,
         'Shorts': 10,
         'Swimwear bottom': 11,
         'Skirt': 9,
         'Shirt': 8,
         'Blouse': 15,
         'Socks': 3,
         'Coat': 5,
         'Slippers': 1,
         'Hair string': 1,
         'Underwear body': 1,
         'Bodysuit': 1,
         'Earring': 4,
         'Sarong': 1,
         'Other shoe': 5,
         'Dungarees': 1,
         'Leggings/Tights': 1,
         'Flip flop': 1,
         'Bracelet': 2,
         'Other accessories': 1,
         'Cardigan': 5,
         'Bag': 1,
         'Scarf': 1,
         'Hair/alice band': 1,
         'Flat shoe': 3,
         'Underwear Tights': 1,
         'Garment Set': 2,
         'Belt': 1,
         'Necklace': 1})

In [127]:
element_count_id

Counter({351332007: 1,
         420049002: 1,
         420049003: 1,
         426199002: 1,
         426199010: 1,
         426199018: 1,
         426199019: 1,
         426199021: 1,
         426199027: 1,
         426199028: 1,
         426199029: 1,
         469039001: 1,
         469039019: 1,
         469039021: 1,
         469039024: 1,
         469039028: 1,
         469039032: 1,
         469039033: 1,
         469039034: 1,
         469039035: 1,
         469039040: 1,
         469039047: 1,
         493438001: 1,
         493438002: 1,
         493438005: 1,
         493438012: 1,
         493438013: 1,
         493438014: 1,
         493438015: 1,
         493438018: 1,
         493438019: 1,
         493438020: 1,
         493438021: 1,
         493438025: 1,
         493438027: 1,
         507883002: 1,
         507883007: 1,
         507883008: 1,
         507883009: 1,
         507883011: 1,
         507883014: 1,
         507883015: 1,
         507883018: 1,
         510419001: 1,
         510419004: 1,
         510419006: 1,
         519929006: 1,
         519929007: 1,
         519929008: 1,
         519929009: 1,
         519929010: 1,
         519929019: 1,
         522090001: 1,
         522090003: 1,
         522090005: 1,
         527657001: 1,
         538946002: 1,
         538946003: 1,
         539514001: 1,
         539844003: 1,
         539844004: 1,
         539844007: 1,
         551394002: 1,
         551394003: 1,
         555990001: 1,
         555990002: 1,
         555990003: 1,
         555990005: 1,
         556673001: 1,
         557216001: 1,
         557287001: 1,
         557287003: 1,
         558651001: 1,
         558651002: 1,
         558651003: 1,
         558651005: 1,
         558651006: 1,
         558651007: 1,
         559551001: 1,
         561551010: 1,
         561551012: 1,
         561551014: 1,
         561551015: 1,
         561551017: 1,
         561551019: 1,
         561551020: 1,
         562327001: 1,
         562327006: 1,
         562339001: 1,
         562477001: 1,
         562477002: 1,
         562477003: 1,
         562480001: 1,
         562480004: 1,
         562795001: 1,
         564231005: 1,
         564231008: 1,
         564231010: 1,
         566904001: 1,
         566904002: 1,
         567644002: 1,
         567644005: 1,
         567644006: 1,
         567644007: 1,
         567644008: 1,
         567644010: 1,
         567644015: 1,
         567645001: 1,
         567645006: 1,
         567993004: 1,
         567993014: 1,
         567993015: 1,
         567993016: 1,
         567993017: 1,
         567993019: 1,
         567993020: 1,
         567993025: 1,
         567993027: 1,
         567993035: 1,
         567993036: 1,
         567993040: 1,
         567993041: 1,
         567993042: 1,
         567993043: 1,
         568060001: 1,
         568060002: 1,
         568060003: 1,
         568060004: 1,
         568605001: 1,
         568683001: 1,
         568683003: 1,
         568932001: 1,
         568932003: 1,
         570719001: 1,
         573958001: 1,
         573958002: 1,
         574198002: 1,
         574198004: 1,
         574198005: 1,
         574198007: 1,
         574198010: 1,
         574500001: 1,
         574500002: 1,
         574500003: 1,
         574500004: 1,
         577245002: 1,
         577245004: 1,
         577529001: 1,
         577529002: 1,
         577529004: 1,
         577775001: 1,
         578198001: 1,
         578198002: 1,
         578296001: 1,
         578311001: 1,
         578311002: 1,
         578311003: 1,
         578311004: 1,
         578311005: 1,
         578311006: 1,
         578311009: 1,
         578311010: 1,
         578311011: 1,
         578311015: 1,
         578471003: 1,
         578471005: 1,
         580331001: 1,
         580331003: 1,
         580331004: 1,
         581102001: 1,
         583010002: 1,
         584591001: 1,
         585656001: 1,
         586265001: 1,
         586265002: 1,
         586282001: 1,
         587108001: 1,
         588665002: 1,
         589136001: 1,
         589136002: 1,
         590207001: 1,
         590207002: 1,
         590207003: 1,
         591548001: 1,
         591548002: 1,
         592607001: 1,
         592607002: 1,
         592835001: 1,
         592835003: 1,
         593552003: 1,
         594453001: 1,
         594453002: 1,
         594453003: 1,
         596367001: 1,
         596479001: 1,
         597653001: 1,
         598499001: 1,
         598499002: 1,
         598628001: 1,
         598795001: 1,
         598795002: 1,
         598795003: 1,
         598795007: 1,
         598795013: 1,
         598795014: 1,
         598795015: 1,
         598795016: 1,
         598795017: 1,
         598795018: 1,
         598795019: 1,
         599380001: 1,
         599703001: 1,
         599703002: 1,
         599703003: 1,
         599716001: 1,
         599716002: 1,
         599716003: 1,
         599716004: 1,
         599725001: 1,
         600231001: 1,
         600231003: 1,
         600696001: 1,
         600876001: 1,
         600928001: 1,
         601162001: 1,
         601350003: 1,
         601350004: 1,
         603552001: 1,
         603774002: 1,
         603774007: 1,
         605020001: 1,
         605020002: 1,
         605555001: 1,
         607303001: 1,
         607303002: 1,
         607303005: 1,
         607537001: 1,
         607537002: 1,
         607764001: 1,
         607764002: 1,
         609174001: 1,
         609994001: 1,
         610321002: 1,
         610321003: 1,
         610321005: 1,
         610321006: 1,
         610321008: 1,
         610543001: 1,
         610543008: 1,
         610543009: 1,
         610543011: 1,
         610747002: 1,
         610747004: 1,
         610747006: 1,
         611768001: 1,
         613728002: 1,
         614266001: 1,
         614422001: 1,
         614422002: 1,
         614463002: 1,
         614686001: 1,
         614889001: 1,
         614889002: 1,
         615421001: 1,
         616132001: 1,
         617547001: 1,
         617547002: 1,
         619878001: 1,
         619878003: 1,
         620081001: 1,
         620081002: 1,
         620081003: 1,
         620081006: 1,
         620081007: 1,
         620081008: 1,
         620081010: 1,
         620188001: 1,
         620446001: 1,
         620446002: 1,
         620755001: 1,
         621476001: 1,
         621800001: 1,
         624556001: 1,
         624556002: 1,
         624556003: 1,
         624556004: 1,
         625915001: 1,
         626000001: 1,
         626000002: 1,
         626193003: 1,
         632872001: 1,
         635635001: 1,
         635648001: 1,
         635648002: 1,
         637268001: 1,
         637268002: 1,
         637268006: 1,
         637268008: 1,
         637268009: 1,
         640414001: 1,
         640870001: 1,
         642009001: 1,
         649353001: 1,
         649353002: 1,
         653431001: 1,
         653431003: 1,
         653618001: 1,
         653647001: 1,
         658021001: 1,
         658021002: 1,
         659819001: 1,
         659873001: 1,
         660688001: 1,
         661147003: 1,
         661147004: 1,
         661147008: 1,
         661577001: 1,
         661577004: 1,
         661577009: 1,
         661577010: 1,
         661820001: 1,
         661822001: 1,
         663185001: 1,
         663185002: 1,
         663351001: 1,
         663351002: 1,
         663518001: 1,
         663518002: 1,
         663518004: 1,
         669880001: 1,
         669880002: 1,
         670537002: 1,
         670537003: 1,
         678590001: 1,
         679977002: 1,
         679977003: 1,
         681156002: 1,
         681918001: 1,
         681918002: 1,
         681918003: 1,
         681919001: 1,
         681919002: 1,
         681919003: 1,
         681919004: 1,
         681919005: 1,
         682765001: 1,
         684208001: 1,
         684695001: 1,
         684755001: 1,
         684824001: 1,
         684824002: 1,
         684824003: 1,
         684824005: 1,
         684824006: 1,
         685150002: 1,
         686631001: 1,
         686631002: 1,
         686631003: 1,
         687525001: 1,
         687722001: 1,
         688037001: 1,
         688037004: 1,
         688676001: 1,
         688676002: 1,
         688701002: 1,
         689463001: 1,
         693500001: 1,
         693500002: 1,
         693748001: 1,
         694772001: 1,
         694772003: 1,
         694772004: 1,
         696932002: 1,
         696932003: 1,
         696932004: 1,
         696932006: 1,
         698900001: 1,
         698900002: 1,
         700984001: 1,
         710328001: 1,
         710328002: 1,
         717162001: 1,
         717933001: 1,
         719463001: 1,
         719463002: 1,
         719463003: 1,
         721928001: 1,
         721928003: 1,
         721928004: 1,
         721928005: 1,
         721928006: 1,
         733203001: 1,
         733203002: 1,
         733203003: 1,
         733656001: 1,
         733656002: 1,
         733656003: 1,
         733668001: 1,
         733668003: 1,
         733668004: 1,
         736312001: 1,
         742916001: 1,
         742916002: 1,
         742916003: 1,
         743160001: 1,
         743641001: 1,
         743641002: 1,
         745829001: 1,
         745829002: 1,
         748291001: 1,
         752035001: 1,
         752458001: 1,
         768842001: 1,
         768842004: 1,
         856985001: 1,
         867200001: 1})

In [128]:
#find of number of transactions with articles without description
k = transactions['article_id'].isin(null_description_id)
number_transactions_per_article = dict(transactions['article_id'][k].value_counts())
number_transactions_per_article

{507883009: 8318,
 742916002: 4524,
 507883014: 4516,
 620081001: 3915,
 469039019: 3875,
 742916003: 3378,
 426199002: 3359,
 684824003: 3175,
 684824002: 2458,
 663518004: 2413,
 663518002: 2407,
 742916001: 2281,
 719463001: 1783,
 661147004: 1764,
 567993016: 1724,
 686631001: 1613,
 684824006: 1482,
 684824001: 1402,
 681156002: 1360,
 567993015: 1319,
 493438027: 1271,
 687722001: 1186,
 426199021: 1155,
 685150002: 1098,
 620081010: 1045,
 586282001: 1039,
 686631002: 1031,
 719463002: 1013,
 620188001: 925,
 686631003: 923,
 493438025: 912,
 661147008: 891,
 719463003: 879,
 567993027: 853,
 620081008: 751,
 567993017: 747,
 620081006: 741,
 610543011: 690,
 567993042: 659,
 507883018: 643,
 599716001: 632,
 469039034: 630,
 688037004: 630,
 620081007: 592,
 637268009: 591,
 637268006: 575,
 598795017: 574,
 733668001: 573,
 693500002: 558,
 580331004: 543,
 567993043: 524,
 743641001: 521,
 578311010: 491,
 567993040: 485,
 507883015: 456,
 562480004: 452,
 586265002: 437,
 752035001: 433,
 539844004: 431,
 743641002: 423,
 693748001: 422,
 599716002: 414,
 682765001: 412,
 507883007: 408,
 661147003: 407,
 574198010: 405,
 598795007: 403,
 637268008: 401,
 578311009: 397,
 693500001: 393,
 567993041: 389,
 609174001: 388,
 688037001: 386,
 684824005: 375,
 510419006: 367,
 663351002: 365,
 507883008: 360,
 426199019: 343,
 578311011: 323,
 733656001: 321,
 598795014: 321,
 592835001: 320,
 599716003: 319,
 710328002: 312,
 598795016: 312,
 745829001: 311,
 426199027: 306,
 733656002: 293,
 510419001: 265,
 469039028: 259,
 733668003: 256,
 592835003: 252,
 567993035: 252,
 599725001: 250,
 679977003: 250,
 659873001: 241,
 610543009: 241,
 567993036: 241,
 605020002: 235,
 745829002: 234,
 420049003: 234,
 752458001: 230,
 624556001: 227,
 469039047: 219,
 580331003: 216,
 679977002: 212,
 748291001: 207,
 510419004: 205,
 577529002: 204,
 574198007: 202,
 733656003: 200,
 743160001: 197,
 717162001: 195,
 469039001: 193,
 469039032: 193,
 610747002: 191,
 555990001: 191,
 605020001: 190,
 493438020: 188,
 426199028: 187,
 594453001: 187,
 469039035: 184,
 610747004: 181,
 653431001: 180,
 653431003: 173,
 493438019: 171,
 539844007: 165,
 469039040: 165,
 684208001: 162,
 637268002: 157,
 661822001: 155,
 710328001: 154,
 658021001: 154,
 567993020: 151,
 578198002: 150,
 586265001: 147,
 696932004: 145,
 519929006: 145,
 598795018: 144,
 594453002: 139,
 351332007: 138,
 610321008: 134,
 610747006: 134,
 578198001: 128,
 562795001: 127,
 493438012: 124,
 694772004: 122,
 637268001: 121,
 614422001: 121,
 670537002: 119,
 599716004: 117,
 614422002: 116,
 580331001: 112,
 578311015: 111,
 717933001: 110,
 635648001: 108,
 589136002: 108,
 469039021: 107,
 562477003: 107,
 681918002: 104,
 681919001: 102,
 681918001: 101,
 632872001: 100,
 594453003: 97,
 577529001: 94,
 694772001: 93,
 626000002: 88,
 507883011: 87,
 684695001: 83,
 698900002: 80,
 607537001: 80,
 507883002: 79,
 493438021: 77,
 696932002: 76,
 591548002: 69,
 578311001: 68,
 611768001: 67,
 562477001: 67,
 663518001: 65,
 698900001: 65,
 642009001: 64,
 681918003: 61,
 578311006: 60,
 558651003: 59,
 538946003: 59,
 621476001: 59,
 426199029: 58,
 733668004: 58,
 551394003: 58,
 696932003: 57,
 678590001: 57,
 559551001: 56,
 574500001: 55,
 736312001: 53,
 599703003: 52,
 661820001: 51,
 561551010: 50,
 567993025: 50,
 592607002: 50,
 687525001: 49,
 558651005: 49,
 610321003: 49,
 562327001: 49,
 561551015: 47,
 598795019: 47,
 620755001: 47,
 568683001: 46,
 653647001: 46,
 522090005: 46,
 574500002: 45,
 493438005: 45,
 681919005: 44,
 607537002: 44,
 617547001: 43,
 617547002: 43,
 856985001: 43,
 658021002: 43,
 599703001: 43,
 469039033: 41,
 768842001: 41,
 578311003: 40,
 660688001: 40,
 669880001: 39,
 522090003: 38,
 578311002: 37,
 555990005: 37,
 574198002: 37,
 561551020: 36,
 562477002: 35,
 600928001: 35,
 538946002: 35,
 733203001: 35,
 558651007: 35,
 694772003: 35,
 626193003: 33,
 681919004: 33,
 605555001: 33,
 558651002: 32,
 567644008: 30,
 681919003: 29,
 597653001: 29,
 557287001: 29,
 567644010: 29,
 610321006: 28,
 615421001: 28,
 596367001: 27,
 598499001: 27,
 562339001: 26,
 590207001: 26,
 566904001: 26,
 616132001: 26,
 598795015: 26,
 596479001: 25,
 590207002: 25,
 620081002: 24,
 663185001: 24,
 610321005: 24,
 669880002: 24,
 613728002: 24,
 640870001: 24,
 684755001: 23,
 600231003: 23,
 681919002: 23,
 555990003: 23,
 640414001: 23,
 578311005: 21,
 578311004: 21,
 558651006: 21,
 670537003: 21,
 519929008: 20,
 721928005: 20,
 661577010: 20,
 519929010: 20,
 649353001: 19,
 688676002: 19,
 519929007: 19,
 733203002: 19,
 696932006: 18,
 661577001: 18,
 561551019: 18,
 591548001: 17,
 557287003: 17,
 614686001: 16,
 555990002: 16,
 600696001: 16,
 561551017: 16,
 599703002: 15,
 635648002: 15,
 601162001: 14,
 561551012: 14,
 578471003: 14,
 688676001: 14,
 426199010: 14,
 721928003: 14,
 567644005: 13,
 598795001: 13,
 624556004: 13,
 624556003: 13,
 558651001: 13,
 721928001: 13,
 493438014: 13,
 600876001: 13,
 689463001: 12,
 610321002: 12,
 721928004: 12,
 607303001: 12,
 567645006: 11,
 661577004: 11,
 661577009: 11,
 624556002: 11,
 583010002: 11,
 600231001: 11,
 733203003: 11,
 721928006: 11,
 598499002: 10,
 567993019: 10,
 568060003: 10,
 587108001: 10,
 564231005: 10,
 567993014: 10,
 598795003: 9,
 592607001: 9,
 700984001: 9,
 493438015: 9,
 609994001: 9,
 574500003: 8,
 426199018: 8,
 564231008: 8,
 493438013: 8,
 567644015: 8,
 663185002: 8,
 620081003: 8,
 568060001: 7,
 649353002: 7,
 614266001: 7,
 567993004: 7,
 614889002: 7,
 584591001: 6,
 619878003: 6,
 568683003: 6,
 598795002: 6,
 573958002: 6,
 577529004: 6,
 568060004: 5,
 539844003: 5,
 610543008: 5,
 493438018: 5,
 574500004: 5,
 539514001: 5,
 469039024: 4,
 625915001: 4,
 768842004: 4,
 567645001: 4,
 557216001: 4,
 585656001: 4,
 607764001: 4,
 519929019: 4,
 568932003: 4,
 493438001: 4,
 590207003: 4,
 614889001: 4,
 578471005: 4,
 574198005: 4,
 593552003: 4,
 603774002: 3,
 663351001: 3,
 573958001: 3,
 562327006: 3,
 688701002: 3,
 607764002: 3,
 556673001: 3,
 607303002: 3,
 568932001: 3,
 527657001: 3,
 561551014: 3,
 599380001: 2,
 589136001: 2,
 867200001: 2,
 522090001: 2,
 574198004: 2,
 567644007: 2,
 566904002: 2,
 607303005: 2,
 621800001: 2,
 603774007: 2,
 635635001: 2,
 626000001: 2,
 620446001: 2,
 568605001: 2,
 493438002: 1,
 568060002: 1,
 598628001: 1,
 519929009: 1,
 619878001: 1,
 610543001: 1,
 577245002: 1,
 570719001: 1,
 601350004: 1,
 567644006: 1,
 567644002: 1,
 603552001: 1,
 562480001: 1,
 659819001: 1,
 620446002: 1,
 578296001: 1,
 581102001: 1,
 564231010: 1,
 653618001: 1,
 598795013: 1,
 577245004: 1,
 577775001: 1,
 601350003: 1,
 588665002: 1,
 420049002: 1,
 551394002: 1,
 614463002: 1}

In [129]:
#sum of all the articles bought that don't have a description
things_buy = number_transactions_per_article.values()

sum_articles = sum(things_buy)
print(sum_articles)

115027

In [130]:
#percentage of transactions of an article without the description
print((sum_articles/len(transactions))*100)

0.3618529872792287

# Dataset "customers.csv"

## Import of data

In [131]:
#import of the csv file
customers = pd.read_csv('Data/customers.csv')
customers = pd.DataFrame(customers)

In [132]:
customers

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,NaN,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,NaN,NaN,ACTIVE,NONE,54.0,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1.0,1.0,ACTIVE,Regularly,52.0,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...
...,...,...,...,...,...,...,...
1371975,ffffbbf78b6eaac697a8a5dfbfd2bfa8113ee5b403e474...,NaN,NaN,ACTIVE,NONE,24.0,7aa399f7e669990daba2d92c577b52237380662f36480b...
1371976,ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...,NaN,NaN,ACTIVE,NONE,21.0,3f47f1279beb72215f4de557d950e0bfa73789d24acb5e...
1371977,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,1.0,1.0,ACTIVE,Regularly,21.0,4563fc79215672cd6a863f2b4bf56b8f898f2d96ed590e...
1371978,ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...,1.0,1.0,ACTIVE,Regularly,18.0,8892c18e9bc3dca6aa4000cb8094fc4b51ee8db2ed14d7...
1371979,ffffd9ac14e89946416d80e791d064701994755c3ab686...,NaN,NaN,PRE-CREATE,NONE,65.0,0a1a03306fb2f62164c2a439b38c0caa64b40deaae8687...

## Feature engeneering: preliminary analysis on data

In [133]:
#check about the correctness of the information found in the past analysis (column and numbers of missing values)
customers.isna().sum()

customer_id                    0
FN                        895050
Active                    907576
club_member_status          6062
fashion_news_frequency     16009
age                        15861
postal_code                    0
dtype: int64

In [134]:
#type of the column with missing values
customers_data_types = customers.dtypes
FN_type = customers_data_types['FN']
active_type = customers_data_types['Active']
club_member_status_type = customers_data_types['club_member_status']
fashion_news_frequency_type = customers_data_types['fashion_news_frequency']
age_type = customers_data_types['age']

In [135]:
FN_type

dtype('float64')

In [136]:
active_type

dtype('float64')

In [137]:
age_type

dtype('float64')

Since these values are a float64, so are a numerical value, is possible to modify the missing data based on statistical parameters of the values that are not missing or using other techniques

In [138]:
club_member_status_type

dtype('O')

In [139]:
fashion_news_frequency_type

dtype('O')

Since these values are all objects is necessary to use different techniquest that are not the ones used for the substitution of missing values with the numerical ones

## Feature enegeneering on a numerical variable: age, FN and Active

### age

In [140]:
#first I want to discover which are the possible values of the variable age
age_values = customers['age'].unique()
age_values.sort()
age_values

array([16., 17., 18., 19., 20., 21., 22., 23., 24., 25., 26., 27., 28.,
       29., 30., 31., 32., 33., 34., 35., 36., 37., 38., 39., 40., 41.,
       42., 43., 44., 45., 46., 47., 48., 49., 50., 51., 52., 53., 54.,
       55., 56., 57., 58., 59., 60., 61., 62., 63., 64., 65., 66., 67.,
       68., 69., 70., 71., 72., 73., 74., 75., 76., 77., 78., 79., 80.,
       81., 82., 83., 84., 85., 86., 87., 88., 89., 90., 91., 92., 93.,
       94., 95., 96., 97., 98., 99., nan])

In [141]:
#the simplest operation is to replace the values that are missing with the median of the values: that's because the median is less sensible to the outlies
median_age = customers['age'].median()
median_age

32.0

In [142]:
#in order to prove what I have said before, I calculate also the mean of the age column: we can say that the value is higher
mean_age = customers['age'].mean()
mean_age

36.386964565794

In [143]:
#then I decided to insert the median value of the column where there is the value nan
customers['age'].replace(np.nan, median_age, inplace = True)

In [144]:
#then I decided to check if the substitution went good
#first I decided to print the number of missing values and then the uniques values of the variable
age_values_modified = customers['age'].unique()
age_values_modified.sort()
nan_ages_modified = customers['age'].isna().sum()

print('Unique values of the modified column in the dataset: \n', age_values_modified, '\n')
print('Number of nan values in the modified column in the dataset:', nan_ages_modified)

Unique values of the modified column in the dataset:
 [16. 17. 18. 19. 20. 21. 22. 23. 24. 25. 26. 27. 28. 29. 30. 31. 32. 33.
 34. 35. 36. 37. 38. 39. 40. 41. 42. 43. 44. 45. 46. 47. 48. 49. 50. 51.
 52. 53. 54. 55. 56. 57. 58. 59. 60. 61. 62. 63. 64. 65. 66. 67. 68. 69.
 70. 71. 72. 73. 74. 75. 76. 77. 78. 79. 80. 81. 82. 83. 84. 85. 86. 87.
 88. 89. 90. 91. 92. 93. 94. 95. 96. 97. 98. 99.]

Number of nan values in the modified column in the dataset: 0

### FN

In [145]:
#values of the column
values_FN = customers['FN'].unique()
values_FN

array([nan,  1.])

Since the values -1 is not part of the values of the column, I decided to insert the value -1 instead of the value nan

In [146]:
#replacemnt of the nan values
customers['FN'].replace(np.nan, -1, inplace = True)

In [147]:
#verification that everything worked correctly
customers['FN'].unique()

array([-1.,  1.])

### Active

In [148]:
#values of the column
values_active = customers['Active'].unique()
values_active

array([nan,  1.])

In [149]:
#replacemnt of the nan values
customers['Active'].replace(np.nan, -1, inplace = True)

In [150]:
#verification that everything worked correctly
customers['Active'].unique()

array([-1.,  1.])

## Feature enegeneering on a categorical variable: club_member_status

In [151]:
#identification of the values of the variable
values_club_member_status = customers['club_member_status'].unique()
values_club_member_status

array(['ACTIVE', nan, 'PRE-CREATE', 'LEFT CLUB'], dtype=object)

In [152]:
#first: preprocessing on the variable in order to transform the categorical values in ordinal ones
label_encoder = LabelEncoder()
label_encoder.fit(customers['club_member_status'])
results = label_encoder.transform(customers['club_member_status'])
results

array([0, 0, 0, ..., 0, 0, 2])

In [153]:
#creation of a new column with the boolean value True if the customer is active, False in all the other cases
boolean_results = []
for i in range(len(results)):
  if results[i] == 0:
    boolean_results.append(True)
  else:
    boolean_results.append(False)

In [154]:
#control that the boolean column have the same number of active users than the original one
count_active = (customers['club_member_status'] == 'ACTIVE').sum()

count_true = 0
value = True
for i in range(len(boolean_results)):
  if boolean_results[i] == value:
    count_true += 1

print(count_active == count_true)

True

In [155]:
#creation of the new colum in the pandas dataframe with the boolean values
boolean_dataframe = pd.DataFrame(boolean_results)
boolean_dataframe.rename(columns = {0: 'Member status active'}, inplace = True)
boolean_dataframe

         Member status active
0                        True
1                        True
2                        True
3                        True
4                        True
...                       ...
1371975                  True
1371976                  True
1371977                  True
1371978                  True
1371979                 False

[1371980 rows x 1 columns]

In [156]:
#merge of the column Customer active with the dataframe customers
customers = pd.concat([customers, boolean_dataframe], axis = 1)
customers

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code,Member status active
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,-1.0,-1.0,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...,True
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,-1.0,-1.0,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...,True
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,-1.0,-1.0,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...,True
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,-1.0,-1.0,ACTIVE,NONE,54.0,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...,True
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1.0,1.0,ACTIVE,Regularly,52.0,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...,True
...,...,...,...,...,...,...,...,...
1371975,ffffbbf78b6eaac697a8a5dfbfd2bfa8113ee5b403e474...,-1.0,-1.0,ACTIVE,NONE,24.0,7aa399f7e669990daba2d92c577b52237380662f36480b...,True
1371976,ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...,-1.0,-1.0,ACTIVE,NONE,21.0,3f47f1279beb72215f4de557d950e0bfa73789d24acb5e...,True
1371977,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,1.0,1.0,ACTIVE,Regularly,21.0,4563fc79215672cd6a863f2b4bf56b8f898f2d96ed590e...,True
1371978,ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...,1.0,1.0,ACTIVE,Regularly,18.0,8892c18e9bc3dca6aa4000cb8094fc4b51ee8db2ed14d7...,True
1371979,ffffd9ac14e89946416d80e791d064701994755c3ab686...,-1.0,-1.0,PRE-CREATE,NONE,65.0,0a1a03306fb2f62164c2a439b38c0caa64b40deaae8687...,False

# Export of the new datasets with feature engeneering done in parquet format

In [157]:
#pip install pyarrow

In [158]:
#new_customers.csv file
customers.to_csv('Data/new_customers.csv')