based on https://github.com/radekosmulski/personalized_fashion_recs/blob/main/03c_Basic_Model_Submission.ipynb

In [1]:
import numpy as np
import pandas as pd
from sklearn.base import BaseEstimator, TransformerMixin

In [2]:
def apk(actual, predicted, k=10):
    """
    Computes the average precision at k.

    This function computes the average prescision at k between two lists of
    items.

    Parameters
    ----------
    actual : list
             A list of elements that are to be predicted (order doesn't matter)
    predicted : list
                A list of predicted elements (order does matter)
    k : int, optional
        The maximum number of predicted elements

    Returns
    -------
    score : double
            The average precision at k over the input lists

    """
    if len(predicted)>k:
        predicted = predicted[:k]

    score = 0.0
    num_hits = 0.0

    for i,p in enumerate(predicted):
        if p in actual and p not in predicted[:i]:
            num_hits += 1.0
            score += num_hits / (i+1.0)

    if not actual:
        return 0.0

    return score / min(len(actual), k)

def mapk(actual, predicted, k=10):
    """
    Computes the mean average precision at k.

    This function computes the mean average prescision at k between two lists
    of lists of items.

    Parameters
    ----------
    actual : list
             A list of lists of elements that are to be predicted 
             (order doesn't matter in the lists)
    predicted : list
                A list of lists of predicted elements
                (order matters in the lists)
    k : int, optional
        The maximum number of predicted elements

    Returns
    -------
    score : double
            The mean average precision at k over the input lists

    """
    return np.mean([apk(a,p,k) for a,p in zip(actual, predicted)])

# https://www.kaggle.com/c/h-and-m-personalized-fashion-recommendations/discussion/308635
def customer_hex_id_to_int(series):
    return series.str[-16:].apply(hex_id_to_int)

def hex_id_to_int(str):
    return int(str[-16:], 16)

def article_id_str_to_int(series):
    return series.astype('int32')

def article_id_int_to_str(series):
    return '0' + series.astype('str')

class Categorize(BaseEstimator, TransformerMixin):
    def __init__(self, min_examples=0):
        self.min_examples = min_examples
        self.categories = []
        
    def fit(self, X):
        for i in range(X.shape[1]):
            vc = X.iloc[:, i].value_counts()
            self.categories.append(vc[vc > self.min_examples].index.tolist())
        return self

    def transform(self, X):
        data = {X.columns[i]: pd.Categorical(X.iloc[:, i], categories=self.categories[i]).codes for i in range(X.shape[1])}
        return pd.DataFrame(data=data)

def calculate_apk(list_of_preds, list_of_gts):
    # for fast validation this can be changed to operate on dicts of {'cust_id_int': [art_id_int, ...]}
    # using 'data/val_week_purchases_by_cust.pkl'
    apks = []
    for preds, gt in zip(list_of_preds, list_of_gts):
        apks.append(apk(gt, preds, k=12))
    return np.mean(apks)

def eval_sub(sub_csv, skip_cust_with_no_purchases=True):
    sub=pd.read_csv(sub_csv)
    validation_set=pd.read_parquet('data/validation_ground_truth.parquet')

    apks = []

    no_purchases_pattern = []
    for pred, gt in zip(sub.prediction.str.split(), validation_set.prediction.str.split()):
        if skip_cust_with_no_purchases and (gt == no_purchases_pattern): continue
        apks.append(apk(gt, pred, k=12))
    return np.mean(apks)

In [3]:
%%time

BASE_PATH = '../../data/'

transactions = pd.read_parquet(BASE_PATH + 'transactions_train.parquet')
customers = pd.read_parquet(BASE_PATH + 'customers.parquet')
articles = pd.read_parquet(BASE_PATH + 'articles.parquet')

CPU times: user 1.05 s, sys: 558 ms, total: 1.61 s
Wall time: 650 ms

In [4]:
test_week = transactions.week.max() + 1
transactions = transactions[transactions.week > transactions.week.max() - 10]

# Generating candidates

## Last purchase candidates

In [5]:
%%time

c2weeks = transactions.groupby('customer_id')['week'].unique()

CPU times: user 5.36 s, sys: 62.3 ms, total: 5.43 s
Wall time: 5.42 s

In [6]:
transactions.groupby('week')['t_dat'].agg(['min', 'max'])

            min        max
week
95   2020-07-15 2020-07-21
96   2020-07-22 2020-07-28
97   2020-07-29 2020-08-04
98   2020-08-05 2020-08-11
99   2020-08-12 2020-08-18
100  2020-08-19 2020-08-25
101  2020-08-26 2020-09-01
102  2020-09-02 2020-09-08
103  2020-09-09 2020-09-15
104  2020-09-16 2020-09-22

In [7]:
c2weeks

customer_id
28847241659200          [95, 96, 101, 102]
41318098387474                        [98]
116809474287335                 [101, 103]
200292573348128          [95, 96, 99, 102]
248294615847351                       [96]
                               ...
18446624797007271432                  [95]
18446630855572834764                 [103]
18446662237889060501                 [100]
18446705133201055310                 [102]
18446737527580148316                 [104]
Name: week, Length: 437365, dtype: object

In [8]:
%%time

c2weeks2shifted_weeks = {}

for c_id, weeks in c2weeks.items():
    c2weeks2shifted_weeks[c_id] = {}
    for i in range(weeks.shape[0]-1):
        c2weeks2shifted_weeks[c_id][weeks[i]] = weeks[i+1]
    c2weeks2shifted_weeks[c_id][weeks[-1]] = test_week

CPU times: user 263 ms, sys: 17.1 ms, total: 280 ms
Wall time: 279 ms

In [9]:
c2weeks2shifted_weeks[28847241659200]

{95: 96, 96: 101, 101: 102, 102: 105}

In [10]:
candidates_last_purchase = transactions.copy()

In [11]:
%%time

weeks = []
for i, (c_id, week) in enumerate(zip(transactions['customer_id'], transactions['week'])):
    weeks.append(c2weeks2shifted_weeks[c_id][week])
    
candidates_last_purchase.week=weeks

CPU times: user 6.53 s, sys: 44.6 ms, total: 6.58 s
Wall time: 6.57 s

In [13]:
transactions[transactions['customer_id'] == 272412481300040]

,t_dat,customer_id,article_id,price,sales_channel_id,week
29030503,2020-07-15,272412481300040,778064028,0.008458,1,95
29030504,2020-07-15,272412481300040,816592008,0.016932,1,95
29030505,2020-07-15,272412481300040,621381021,0.033881,1,95
29030506,2020-07-15,272412481300040,817477003,0.025407,1,95
29030507,2020-07-15,272412481300040,899088002,0.025407,1,95
29319533,2020-07-22,272412481300040,885077001,0.008458,1,96
29410772,2020-07-24,272412481300040,850176003,0.029034,2,96
29410773,2020-07-24,272412481300040,875803001,0.064559,2,96
29410774,2020-07-24,272412481300040,892970003,0.020966,2,96
29410775,2020-07-24,272412481300040,854619003,0.020966,2,96
29531614,2020-07-27,272412481300040,900398001,0.030492,2,96
29531615,2020-07-27,272412481300040,834179002,0.025407,2,96
29531616,2020-07-27,272412481300040,875803001,0.067780,2,96
31495014,2020-09-14,272412481300040,923460002,0.039932,2,103
31495015,2020-09-14,272412481300040,922381001,0.039932,2,103
31495016,2020-09-14,272412481300040,921906005,0.031949,2,103

In [20]:
candidates_last_purchase[candidates_last_purchase['customer_id']==272412481300040]

,t_dat,customer_id,article_id,price,sales_channel_id,week
29030503,2020-07-15,272412481300040,778064028,0.008458,1,96
29030504,2020-07-15,272412481300040,816592008,0.016932,1,96
29030505,2020-07-15,272412481300040,621381021,0.033881,1,96
29030506,2020-07-15,272412481300040,817477003,0.025407,1,96
29030507,2020-07-15,272412481300040,899088002,0.025407,1,96
29319533,2020-07-22,272412481300040,885077001,0.008458,1,103
29410772,2020-07-24,272412481300040,850176003,0.029034,2,103
29410773,2020-07-24,272412481300040,875803001,0.064559,2,103
29410774,2020-07-24,272412481300040,892970003,0.020966,2,103
29410775,2020-07-24,272412481300040,854619003,0.020966,2,103
29531614,2020-07-27,272412481300040,900398001,0.030492,2,103
29531615,2020-07-27,272412481300040,834179002,0.025407,2,103
29531616,2020-07-27,272412481300040,875803001,0.067780,2,103
31495014,2020-09-14,272412481300040,923460002,0.039932,2,105
31495015,2020-09-14,272412481300040,922381001,0.039932,2,105
31495016,2020-09-14,272412481300040,921906005,0.031949,2,105

## Bestsellers candidates

In [14]:
mean_price = transactions \
    .groupby(['week', 'article_id'])['price'].mean()

In [15]:
mean_price

week  article_id
95    108775015     0.004729
      108775044     0.008458
      110065001     0.006085
      110065002     0.006085
      111565001     0.004288
                      ...
104   952267001     0.013732
      952938001     0.048651
      953450001     0.016932
      953763001     0.021885
      956217002     0.059068
Name: price, Length: 196880, dtype: float32

In [16]:
sales = transactions \
    .groupby('week')['article_id'].value_counts() \
    .groupby('week').rank(method='dense', ascending=False) \
    .groupby('week').head(12).rename('bestseller_rank').astype('int8')

In [17]:
sales

week  article_id
95    760084003      1
      866731001      2
      600886001      3
      706016001      4
      372860002      5
                    ..
104   915529003      8
      915529005      9
      448509014     10
      762846027     11
      714790020     12
Name: bestseller_rank, Length: 120, dtype: int8

In [18]:
sales.loc[95]

article_id
760084003     1
866731001     2
600886001     3
706016001     4
372860002     5
610776002     6
877278002     7
547780003     8
817354001     9
827968001    10
866731003    11
866383006    12
Name: bestseller_rank, dtype: int8

In [19]:
bestsellers_previous_week = pd.merge(sales, mean_price, on=['week', 'article_id']).reset_index()
bestsellers_previous_week.week += 1

In [20]:
bestsellers_previous_week.pipe(lambda df: df[df['week']==96])

    week  article_id  bestseller_rank     price
0     96   760084003                1  0.025094
1     96   866731001                2  0.024919
2     96   600886001                3  0.022980
3     96   706016001                4  0.033197
4     96   372860002                5  0.013193
5     96   610776002                6  0.008318
6     96   877278002                7  0.025036
7     96   547780003                8  0.024814
8     96   817354001                9  0.021913
9     96   827968001               10  0.016436
10    96   866731003               11  0.024893
11    96   866383006               12  0.023195

In [22]:
unique_transactions = transactions \
    .groupby(['week', 'customer_id']) \
    .head(1) \
    .drop(columns=['article_id', 'price']) \
    .copy()

In [23]:
unique_transactions

              t_dat           customer_id  sales_channel_id  week
29030503 2020-07-15       272412481300040                 1    95
29064059 2020-07-15      1456826891333599                 1    95
29067103 2020-07-15      2133687643102426                 2    95
29027487 2020-07-15      6010692573790711                 1    95
29046403 2020-07-15      6171059100114610                 2    95
...             ...                   ...               ...   ...
31760188 2020-09-22  18435221511488011015                 1   104
31782234 2020-09-22  18436859303155335645                 1   104
31787251 2020-09-22  18437941771381362708                 2   104
31776022 2020-09-22  18438270306572912089                 1   104
31779097 2020-09-22  18440902715633436014                 1   104

[755710 rows x 4 columns]

In [24]:
transactions.drop_duplicates(['week', 'customer_id'])

,t_dat,customer_id,article_id,price,sales_channel_id,week
29030503,2020-07-15,272412481300040,778064028,0.008458,1,95
29064059,2020-07-15,1456826891333599,888294001,0.013542,1,95
29067103,2020-07-15,2133687643102426,843642001,0.042356,2,95
29027487,2020-07-15,6010692573790711,857812010,0.039661,1,95
29046403,2020-07-15,6171059100114610,815447007,0.006763,2,95
...,...,...,...,...,...,...
31760188,2020-09-22,18435221511488011015,573085055,0.033881,1,104
31782234,2020-09-22,18436859303155335645,801447001,0.030492,1,104
31787251,2020-09-22,18437941771381362708,907188001,0.050831,2,104
31776022,2020-09-22,18438270306572912089,751471043,0.033881,1,104
31779097,2020-09-22,18440902715633436014,918894002,0.016932,1,104

In [25]:
candidates_bestsellers = pd.merge(
    unique_transactions,
    bestsellers_previous_week,
    on='week',
)

In [29]:
test_set_transactions = unique_transactions.drop_duplicates('customer_id').reset_index(drop=True)
test_set_transactions.week = test_week

In [30]:
test_set_transactions

            t_dat           customer_id  sales_channel_id  week
0      2020-07-15       272412481300040                 1   105
1      2020-07-15      1456826891333599                 1   105
2      2020-07-15      2133687643102426                 2   105
3      2020-07-15      6010692573790711                 1   105
4      2020-07-15      6171059100114610                 2   105
...           ...                   ...               ...   ...
437360 2020-09-22  18410229429441241008                 2   105
437361 2020-09-22  18417769707947924979                 2   105
437362 2020-09-22  18418054986721795659                 2   105
437363 2020-09-22  18421175435799911749                 2   105
437364 2020-09-22  18438270306572912089                 1   105

[437365 rows x 4 columns]

In [32]:
candidates_bestsellers_test_week = pd.merge(
    test_set_transactions,
    bestsellers_previous_week,
    on='week'
)

In [33]:
candidates_bestsellers = pd.concat([candidates_bestsellers, candidates_bestsellers_test_week])
candidates_bestsellers.drop(columns='bestseller_rank', inplace=True)

In [35]:
candidates_bestsellers[candidates_bestsellers.customer_id == 200292573348128]

,t_dat,customer_id,sales_channel_id,week,article_id,price
0,2020-07-22,200292573348128,2,96,760084003,0.025094
1,2020-07-22,200292573348128,2,96,866731001,0.024919
2,2020-07-22,200292573348128,2,96,600886001,0.022980
3,2020-07-22,200292573348128,2,96,706016001,0.033197
4,2020-07-22,200292573348128,2,96,372860002,0.013193
5,2020-07-22,200292573348128,2,96,610776002,0.008318
6,2020-07-22,200292573348128,2,96,877278002,0.025036
7,2020-07-22,200292573348128,2,96,547780003,0.024814
8,2020-07-22,200292573348128,2,96,817354001,0.021913
9,2020-07-22,200292573348128,2,96,827968001,0.016436
10,2020-07-22,200292573348128,2,96,866731003,0.024893
11,2020-07-22,200292573348128,2,96,866383006,0.023195
2858712,2020-08-12,200292573348128,2,99,806225002,0.025005
2858713,2020-08-12,200292573348128,2,99,351484039,0.021641
2858714,2020-08-12,200292573348128,2,99,559616013,0.024845
2858715,2020-08-12,200292573348128,2,99,823505001,0.030071
2858716,2020-08-12,200292573348128,2,99,599580072,0.016525
2858717,2020-08-12,200292573348128,2,99,599580038,0.016640
2858718,2020-08-12,200292573348128,2,99,816423004,0.025056
2858719,2020-08-12,200292573348128,2,99,739144004,0.010689
2858720,2020-08-12,200292573348128,2,99,776237011,0.025003
2858721,2020-08-12,200292573348128,2,99,806388002,0.013336
2858722,2020-08-12,200292573348128,2,99,778064028,0.004007
2858723,2020-08-12,200292573348128,2,99,879944002,0.016498
5539296,2020-09-02,200292573348128,2,102,898694001,0.049675
5539297,2020-09-02,200292573348128,2,102,933706001,0.016584
5539298,2020-09-02,200292573348128,2,102,751471001,0.033308
5539299,2020-09-02,200292573348128,2,102,915526001,0.033049
5539300,2020-09-02,200292573348128,2,102,915529003,0.033279
5539301,2020-09-02,200292573348128,2,102,706016001,0.033166
5539302,2020-09-02,200292573348128,2,102,918292001,0.041425
5539303,2020-09-02,200292573348128,2,102,751471043,0.033143
5539304,2020-09-02,200292573348128,2,102,915526002,0.032902
5539305,2020-09-02,200292573348128,2,102,915529001,0.033167
5539306,2020-09-02,200292573348128,2,102,862970001,0.021616
5539307,2020-09-02,200292573348128,2,102,863595006,0.033221
684060,2020-07-20,200292573348128,2,105,924243001,0.041535
684061,2020-07-20,200292573348128,2,105,924243002,0.041877
684062,2020-07-20,200292573348128,2,105,918522001,0.041435
684063,2020-07-20,200292573348128,2,105,923758001,0.033462
684064,2020-07-20,200292573348128,2,105,866731001,0.025015
684065,2020-07-20,200292573348128,2,105,909370001,0.032640
684066,2020-07-20,200292573348128,2,105,751471001,0.033423
684067,2020-07-20,200292573348128,2,105,915529003,0.033439
684068,2020-07-20,200292573348128,2,105,915529005,0.033417
684069,2020-07-20,200292573348128,2,105,448509014,0.041630
684070,2020-07-20,200292573348128,2,105,762846027,0.025005
684071,2020-07-20,200292573348128,2,105,714790020,0.049951

# Combining transactions and candidates / negative examples

In [44]:
transactions['purchased'] = 1

In [228]:
data = pd.concat([transactions, candidates_last_purchase, candidates_bestsellers])
data.purchased.fillna(0, inplace=True)
data.drop_duplicates(['customer_id', 'article_id', 'week'], inplace=True)

In [229]:
data.purchased.mean()

0.13607582749165664

## Add bestseller information

In [230]:
data = pd.merge(
    data,
    bestsellers_previous_week[['week', 'article_id', 'bestseller_rank']],
    on=['week', 'article_id'],
    how='left'
)

In [231]:
data = data[data.week != data.week.min()]
data.bestseller_rank.fillna(999, inplace=True)

In [232]:
data = pd.merge(data, articles, on='article_id', how='left')
data = pd.merge(data, customers, on='customer_id', how='left')

In [ ]:
# bonus feature: clipped price
transactions['clipped_price'] = transactions['price'].clip(0, 0.2)

In [234]:
# feature1: average price for customers
customer_avg_price = transactions.groupby('customer_id')['clipped_price'].mean().to_frame('preferred_price')

In [235]:
# feature2: max price for articles
article_max_price = transactions.groupby('article_id')['clipped_price'].max().to_frame('article_price')

In [236]:
# feature3: has kids
buys_for_kids = pd.merge(
    transactions[['customer_id', 'article_id']],
    articles[['article_id', 'index_group_name']], 
    on='article_id'
).groupby('customer_id').index_group_name.agg(lambda x: 1 in x.values).to_frame('buys_for_kids')
# index_group_name 1 is 'Baby/Children'

In [ ]:
data = pd.merge(data, customer_avg_price, on='customer_id', how='left')
data = pd.merge(data, article_max_price, on='article_id', how='left')
data = pd.merge(data, buys_for_kids, on='customer_id', how='left')

In [237]:
new_features = []
new_features.append('preferred_price')
new_features.append('article_price')
new_features.append('buys_for_kids')

In [238]:
data.sort_values(['week', 'customer_id'], inplace=True)
data.reset_index(drop=True, inplace=True)

In [239]:
train = data[data.week != test_week]
test = data[data.week==test_week].drop_duplicates(['customer_id', 'article_id', 'sales_channel_id']).copy()

In [240]:
train_baskets = train.groupby(['week', 'customer_id'])['article_id'].count().values

In [241]:
columns_to_use = ['article_id', 'product_type_no', 'graphical_appearance_no', 'colour_group_code', 'perceived_colour_value_id',
'perceived_colour_master_id', 'department_no', 'index_code',
'index_group_no', 'section_no', 'garment_group_no', 'FN', 'Active',
'club_member_status', 'fashion_news_frequency', 'age', 'postal_code', 'bestseller_rank', *new_features]

In [211]:
%%time

train_X = train[columns_to_use]
train_y = train['purchased']

test_X = test[columns_to_use]

CPU times: user 129 ms, sys: 262 ms, total: 391 ms
Wall time: 507 ms

In [212]:
train_X

,article_id,product_type_no,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_code,index_group_no,section_no,...,FN,Active,club_member_status,fashion_news_frequency,age,postal_code,bestseller_rank,preferred_price,article_price,buys_for_kids
0,887770001,253,1010016,9,4,5,1510,0,1,6,...,1,1,0,1,21,57896,999.0,0.046085,0.016932,False
1,762846001,259,1010016,10,3,9,1515,0,1,11,...,1,1,0,1,21,57896,999.0,0.046085,0.025407,False
2,829308001,273,1010016,9,4,5,8310,9,26,5,...,1,1,0,1,21,57896,999.0,0.046085,0.033881,False
3,760084003,272,1010016,9,4,5,1747,1,2,53,...,1,1,0,1,21,57896,1.0,0.046085,0.025407,False
4,866731001,273,1010016,9,4,5,8310,9,26,5,...,1,1,0,1,21,57896,2.0,0.046085,0.025407,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11381607,918292001,273,1010010,9,4,5,8310,9,26,5,...,1,1,0,1,60,96323,8.0,0.023712,0.042356,False
11381608,762846027,259,1010016,13,1,1,1515,0,1,11,...,1,1,0,1,60,96323,9.0,0.023712,0.025407,False
11381609,809238005,252,1010010,8,4,12,1647,1,2,53,...,1,1,0,1,60,96323,10.0,0.023712,0.042356,False
11381610,673677002,252,1010016,9,4,5,1616,0,1,11,...,1,1,0,1,60,96323,11.0,0.023712,0.025407,False
11381611,923758001,-1,1010016,10,3,9,1522,0,1,15,...,1,1,0,1,60,96323,12.0,0.023712,0.033881,False

# Model training

In [213]:
from lightgbm.sklearn import LGBMRanker

In [214]:
ranker = LGBMRanker(
    objective="lambdarank",
    metric="ndcg",
    boosting_type="dart",
    n_estimators=1,
    importance_type='gain',
    verbose=10
)

In [215]:
%%time

ranker = ranker.fit(
    train_X,
    train_y,
    group=train_baskets,
)

[LightGBM] [Debug] Dataset::GetMultiBinFromSparseFeatures: sparse rate 0.873163
[LightGBM] [Debug] Dataset::GetMultiBinFromAllFeatures: sparse rate 0.175135
[LightGBM] [Debug] init for col-wise cost 0.063819 seconds, init for row-wise cost 0.223281 seconds
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.224288 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Debug] Using Dense Multi-Val Bin
[LightGBM] [Info] Total Bins 1447
[LightGBM] [Info] Number of data points in the train set: 11381612, number of used features: 21
[LightGBM] [Debug] Trained a tree with leaves = 31 and depth = 10
CPU times: user 10.9 s, sys: 1.18 s, total: 12.1 s
Wall time: 3.73 s

In [216]:
for i in ranker.feature_importances_.argsort()[::-1]:
    print(columns_to_use[i], ranker.feature_importances_[i]/ranker.feature_importances_.sum())

bestseller_rank 0.9977634957735716
preferred_price 0.000833384220393377
article_price 0.0005066403718103047
buys_for_kids 0.0003571954186406502
age 0.0001363050328298684
article_id 0.00011009593527020279
product_type_no 0.00010585024961761378
index_group_no 0.00010485672377429695
garment_group_no 8.217627409209541e-05
fashion_news_frequency 0.0
club_member_status 0.0
Active 0.0
FN 0.0
postal_code 0.0
section_no 0.0
index_code 0.0
department_no 0.0
perceived_colour_master_id 0.0
perceived_colour_value_id 0.0
colour_group_code 0.0
graphical_appearance_no 0.0

# Calculate predictions

In [217]:
%time

test['preds'] = ranker.predict(test_X)

c_id2predicted_article_ids = test \
    .sort_values(['customer_id', 'preds'], ascending=False) \
    .groupby('customer_id')['article_id'].apply(list).to_dict()

bestsellers_last_week = \
    bestsellers_previous_week[bestsellers_previous_week.week == bestsellers_previous_week.week.max()]['article_id'].tolist()

CPU times: user 4 µs, sys: 2 µs, total: 6 µs
Wall time: 13.1 µs

# Create submission

In [218]:
sub = pd.read_csv(BASE_PATH + 'sample_submission.csv')

In [219]:
%%time
preds = []
for c_id in customer_hex_id_to_int(sub.customer_id):
    pred = c_id2predicted_article_ids.get(c_id, [])
    pred = pred + bestsellers_last_week
    preds.append(pred[:12])

CPU times: user 1.88 s, sys: 57.8 ms, total: 1.94 s
Wall time: 1.94 s

In [220]:
preds = [' '.join(['0' + str(p) for p in ps]) for ps in preds]
sub.prediction = preds

In [221]:
sub_name = 'basic_model_submission4'
sub.to_csv(f'{sub_name}.csv.gz', index=False)