In [1]:
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import os
os.chdir('../')
from candidate_generation import *
os.chdir('../../data/')

In [3]:
transactions = pd.read_pickle('../data/compressed_data/transactions_train.pkl')
customers = pd.read_pickle('../data/compressed_data/customers.pkl')
articles = pd.read_pickle('../data/compressed_data/articles.pkl')

transactions['week'] = 104 - (transactions.t_dat.max() - transactions.t_dat).dt.days // 7

print('First week num: ', transactions.week.min(), '\nLast week num: ', transactions.week.max(), '\n')

First week num:  0
Last week num:  104

# Generate seasonal bestsellers candidates for the best performing combination according to: 
##### 05_candidate_generation_simulation.ipynb

In [10]:
seasonal_baskets = generate_seasonal_bestsellers(transactions, [2019], [8, 9, 10], k=200, include_rank=True)

In [11]:
seasonal_baskets

     year  article_id  seasonal_bestseller_rank
0    2019   706016001                         1
1    2019   673677002                         2
2    2019   706016002                         3
3    2019   772902001                         4
4    2019   706016003                         5
..    ...         ...                       ...
195  2019   811235004                       185
196  2019   781613002                       186
197  2019   507883009                       187
198  2019   693243013                       188
199  2019   754356001                       189

[200 rows x 3 columns]

In [12]:
seasonal_baskets.to_csv('../data/candidates_200_ranks/seasonal_candidates_2019.csv', index=False)