# Import of libraries and datasets needed

In [1]:
#libraries
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
articles_parquet = pd.read_parquet('data_parquet_github/articles.parquet')
customers_parquet = pd.read_parquet('data_parquet_github/customers.parquet')

In [3]:
articles_parquet

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,12855,253,9,0,1010016,0,9,0,...,10,0,0,1,0,16,30,1002,2,8834
1,108775044,108775,12855,253,9,0,1010016,0,10,2,...,10,0,0,1,0,16,30,1002,2,8834
2,108775051,108775,44846,253,9,0,1010017,3,11,11,...,10,0,0,1,0,16,30,1002,2,8834
3,110065001,110065,8159,306,13,4,1010016,0,9,0,...,131,7,7,1,0,61,5,1017,4,8243
4,110065002,110065,8159,306,13,4,1010016,0,10,2,...,131,7,7,1,0,61,5,1017,4,8243
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105537,953450001,953450,24043,302,14,7,1010014,6,9,0,...,153,2,2,3,3,26,16,1021,13,28026
105538,953763001,953763,24027,253,9,0,1010016,0,9,0,...,0,0,0,1,0,2,15,1005,0,28025
105539,956217002,956217,24040,265,1,2,1010016,0,9,0,...,0,0,0,1,0,18,12,1005,0,28024
105540,957375001,957375,24041,72,48,3,1010016,0,9,0,...,29,1,1,2,2,52,25,1019,1,28023
105541,959461001,959461,45874,265,1,2,1010016,0,11,11,...,0,0,0,1,0,18,12,1005,0,43403

In [4]:
customers_parquet

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,6883939031699146327,-1,-1,0,0,49,6305
1,11246327431398957306,-1,-1,0,0,25,33726
2,18439897732908966680,-1,-1,0,0,24,3247
3,18352672461570950206,-1,-1,0,0,54,168643
4,18162778555210377306,1,1,0,1,52,168645
...,...,...,...,...,...,...,...
1371975,7551062398649767985,-1,-1,0,0,24,50351
1371976,9305341941720086711,-1,-1,0,0,21,80169
1371977,10160427316885688932,1,1,0,1,21,106737
1371978,2551401172826382186,1,1,0,1,18,111894
1371979,16929951892735599169,-1,-1,1,0,65,352898

In [5]:
articles_new_one = pd.read_csv('Data/gender_articles_first_version.csv')
articles_new_two = pd.read_csv('Data/gender_articles_second_version.csv')
customers_new_one = pd.read_csv('Data/gender_customers_first_version.csv')
customers_new_two = pd.read_csv('Data/gender_customers_first_version.csv')

# Add of the new column to the dataset to use in LGBM Ranker and export of the new parquet dataset

### First version of the articles dataset

In [6]:
articles_new_one.columns

Index(['Unnamed: 0', 'article_id', 'product_code', 'prod_name',
       'product_type_no', 'product_type_name', 'product_group_name',
       'graphical_appearance_no', 'graphical_appearance_name',
       'colour_group_code', 'colour_group_name', 'perceived_colour_value_id',
       'perceived_colour_value_name', 'perceived_colour_master_id',
       'perceived_colour_master_name', 'department_no', 'department_name',
       'index_code', 'index_name', 'index_group_no', 'index_group_name',
       'section_no', 'section_name', 'garment_group_no', 'garment_group_name',
       'detail_desc', 'article_gender', 'numerical_article_gender'],
      dtype='object')

In [7]:
#gender from the first version of the article dataset
articles_parquet_one = articles_parquet.copy()
column_to_add = articles_new_one['numerical_article_gender']
articles_parquet_one['numerical_article_gender'] = column_to_add

In [8]:
articles_parquet_one.columns

Index(['article_id', 'product_code', 'prod_name', 'product_type_no',
       'product_type_name', 'product_group_name', 'graphical_appearance_no',
       'graphical_appearance_name', 'colour_group_code', 'colour_group_name',
       'perceived_colour_value_id', 'perceived_colour_value_name',
       'perceived_colour_master_id', 'perceived_colour_master_name',
       'department_no', 'department_name', 'index_code', 'index_name',
       'index_group_no', 'index_group_name', 'section_no', 'section_name',
       'garment_group_no', 'garment_group_name', 'detail_desc',
       'numerical_article_gender'],
      dtype='object')

In [9]:
articles_parquet_one.to_parquet('Dataset_parquet_new_assignement/new_articles_one.parquet')

### Second version of the articles dataset

In [10]:
articles_new_two.columns

Index(['Unnamed: 0', 'article_id', 'product_code', 'prod_name',
       'product_type_no', 'product_type_name', 'product_group_name',
       'graphical_appearance_no', 'graphical_appearance_name',
       'colour_group_code', 'colour_group_name', 'perceived_colour_value_id',
       'perceived_colour_value_name', 'perceived_colour_master_id',
       'perceived_colour_master_name', 'department_no', 'department_name',
       'index_code', 'index_name', 'index_group_no', 'index_group_name',
       'section_no', 'section_name', 'garment_group_no', 'garment_group_name',
       'detail_desc', 'gender_clothes', 'numerical_gender_clothes'],
      dtype='object')

In [11]:
#gender from the second version of the article dataset
articles_parquet_two = articles_parquet.copy()
column_to_add_two = articles_new_one['numerical_article_gender']
articles_parquet_two['numerical_article_gender'] = column_to_add_two

In [12]:
articles_parquet_two.columns

Index(['article_id', 'product_code', 'prod_name', 'product_type_no',
       'product_type_name', 'product_group_name', 'graphical_appearance_no',
       'graphical_appearance_name', 'colour_group_code', 'colour_group_name',
       'perceived_colour_value_id', 'perceived_colour_value_name',
       'perceived_colour_master_id', 'perceived_colour_master_name',
       'department_no', 'department_name', 'index_code', 'index_name',
       'index_group_no', 'index_group_name', 'section_no', 'section_name',
       'garment_group_no', 'garment_group_name', 'detail_desc',
       'numerical_article_gender'],
      dtype='object')

In [13]:
articles_parquet_two.to_parquet('Dataset_parquet_new_assignement/new_articles_two.parquet')

### First version of the customers dataset

In [14]:
customers_new_one.columns

Index(['Unnamed: 0', 'customer_id', 'FN', 'Active', 'club_member_status',
       'fashion_news_frequency', 'age', 'postal_code', 'gender'],
      dtype='object')

In [15]:
#gender from the first version of the customer dataset
customers_parquet_one = customers_parquet.copy()
column_to_add = customers_new_one['gender']

In [16]:
label_encoder = LabelEncoder()
label_encoder.fit(customers_new_one['gender'])
results = label_encoder.transform(customers_new_one['gender'])
list(set(results))

[0, 1, 2, 3]

In [17]:
customers_parquet_one['numerical_gender'] = results

In [18]:
customers_parquet_one.to_parquet('Dataset_parquet_new_assignement/new_customer_one.parquet')

### Second version of the customers dataset

In [19]:
customers_new_two.columns

Index(['Unnamed: 0', 'customer_id', 'FN', 'Active', 'club_member_status',
       'fashion_news_frequency', 'age', 'postal_code', 'gender'],
      dtype='object')

In [20]:
#gender from the second version of the customer dataset
customers_parquet_two = customers_parquet.copy()
column_to_add_two = customers_new_one['gender']

In [21]:
label_encoder = LabelEncoder()
label_encoder.fit(customers_new_two['gender'])
results_two = label_encoder.transform(customers_new_two['gender'])
list(set(results_two))

[0, 1, 2, 3]

In [22]:
customers_parquet_two['numerical_gender'] = results

In [23]:
customers_parquet_two.to_parquet('Dataset_parquet_new_assignement/new_customer_two.parquet')